<div>
<%- include('../partials/header_private.ejs') %>
</div>
<!-- <a href="/users/suppliers/new">
    <span style="font-size: 3em; color: Tomato;">
        <i class="fas fa-plus-circle"></i>
    </span>
</a> -->


<div><h2><%= companyName %>的厂家<h2></div>


<div class="container">
  <div class="row">
      <div class="col">
      </div>
      <div class="col-8 text-center"> 
        <form action="/users/suppliers/index" method="GET">
            <!-- <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>" >
            <button type="submit">Search</button> -->
            <div class="form-group">
              <div class="input-group mb-6">
                      <input class="form-control" type="text" name="name" placeholder="<%= g_companyName%> suppliers" value="<%= searchOptions.name %>" >
                      <div class="input-group-append">
                          <button type="submit" id="postfiles" href="javascript:void(0);" class="input-group-text">                    
                              <i class="fas fa-search" id="search-icon"></i>
                          </button>
                      </div>
              </div>
            </div>
        </form>
        </div>
        <div class="col">
        <div class="col-12 text-center">
        
          <a href="/users/suppliers/new">
              <span class="icon-style-new"">
                  <i class="fas fa-plus-circle"></i>
              </span>
          </a> 
        </div>
        </div>
    </div>
</div>


    


    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">厂家名字</th>
            <th scope="col">公司名称</th>
            <th scope="col">公司职位</th>
            <th scope="col">公司位置</th>
            <th scope="col">专业</th>
            <th scope="col">电话</th>
            <th scope="col">微信</th>
            <th scope="col">淘宝</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Supplier Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Position</th>
            <th scope="col">Company Location</th>
            <th scope="col">Speciality</th>
            <th scope="col">Phone</th>
            <th scope="col">WeChat</th>
            <th scope="col">Taobao</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <% suppliers.forEach(supplier => { %>
        <tbody>
          <tr class="table-secondary">
            <th scope="row"><%= supplier.name %></th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>木工，定制</td>
            <td><%= supplier.phone %></td>
            <td><%= supplier.weChat %></td>
            <td> </td>
            <td><a href="/users/suppliers/index/<%= supplier.id %>">View</a></td>
            <td><%- include('../partials/deleteform', { url: `/users/suppliers/index/${supplier.id}` }) %></td>
          </tr>
        </tbody>
        <% }) %>

      </table> 
