<div>
    <%- include('../partials/header_private.ejs') %>
</div>



    
<h2><%= supplier.name %></h2>
<h6>phone: <%= supplier.phone %></h2>
<h6>WeChat: <%= supplier.weChat %></h2>

<a href="/users/suppliers/index/<%= supplier.id %>/edit">
<span class="icon-style-alliance"><i class="fas fa-edit"></i></span>
</a>
<div class="websiteLogo" href="#" data-toggle="modal" data-target="#supplierModal">
    <i class="fas fa-minus-circle"></i>
</div>
  
<div style="padding: 20px;" >
<embed type="application/pdf" width="400px" height="300px" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/PDF/%E8%A3%85%E9%85%8D%E5%BC%8F%E5%94%AE%E6%A5%BC%E9%83%A8-%E8%AE%BE%E8%AE%A1%E6%96%B9%E6%A1%88%E5%9B%BE.pdf"> </embed>
</div>




<div>
    <h2>Materials By Supplier</h2>
</div>

<div class="container">
<div class="row">
    <div class="col">     
    </div>
    <div class="col-8">
        <div class="custom-cards-list">                    
                <% if (materialsBySupplier.length > 0) { %>
                <% materialsBySupplier.forEach(material => { %>
                    <a href="/users/materials/index/<%= material.id %>" class="custom-card 3">
                        <div class="custom-card_image">    
                            <img src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= material.project %>/<%= material.ossFileName %>">
                        </div>
                    </a>
                    <% }) %>
                <% } %>
        </div>
    </div>
    <div class="col">     
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
  
        </div>
        <div class="col">
            <div class="modal fade" id="supplierModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                    <!-- <div class="modal-header">
                    </div> -->
                    <div class="modal-body text-center">

                        <%- include('../partials/deleteform', 
                        { url: `/users/suppliers/index/${supplier.id}` }) %>
                                            <br/>
                      <input class="btn btn-default" data-dismiss="modal" value="Close">
  
                    <!-- <div class="modal-footer text-center">
                        <input class="btn btn-default" data-dismiss="modal" value="Close">
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
          
    </div>
  </div>
  