<div>
    <%- include('../partials/header_private.ejs') %>
</div>

    
<h2><%= supplier.name %></h2>
<h2><%= supplier.phone %></h2>
<h2><%= supplier.weChat %></h2>

<a href="/suppliers/<%= supplier.id %>/edit">Edit</a>
<%- include('../partials/deleteform', 
            { url: `/suppliers/${supplier.id}` }) %>
<% if (materialsBySupplier.length > 0) { %>
<h2>Materials By Supplier</h2>
<% materialsBySupplier.forEach(material => { %>
    <a href="/materials/<%= material.id %>">
        <img height="150" width="100" src="<%= material.thumbnailImagePath %>">
    </a>
    <% }) %>
<% } %>