
<!-- <header> -->
    <!-- <nav> -->

<div class="container col-md-12">
<div class="row">
    
    <div class="col-4 text-left" >
        <a href="/users/materials/index">
            <img height="30" class="websiteLogo" width="20" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
            <img height="30" class="websiteLogo" width="20" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
            <img height="30" width="30" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= companyName %>/<%= companyID %>">
        </a>
        <%= companyName %>
    </div>

    
    <div class="col-4 text-center">
        <div class="row">
                <div class="col text-center">
                    <a href="/users/materials/feed">
                        <span class="icon-style-alliance">
                            <i class="fas fa-people-carry"></i>
                        </span>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/users/materials/index">
                        <span class="icon-style-library">
                            <i class="fas fa-cubes"></i>
                        </span>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/users/suppliers/index">
                        <span class="icon-style-supplier">
                            <i class="fas fa-industry"></i>
                    </span>
                    </a>

                    
                </div>
                <!-- <div class="col-4"> -->

                    <!-- <a href="/users/constructionTeam/index">
                        <span class="icon-style">
                        <i class="fas fa-hammer"></i>
                        </span>
                    </a> -->
                <!-- </div> -->
                <div class="col text-center">
                    <a href="/users/projects/index">
                        <span class="icon-style-project">
                            <i class="fas fa-sitemap"></i>
                        </span>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/users/companies/index">
                        <span class="icon-style-company">
                            <i class="fas fa-users"></i>
                        </span>

                    </a>
                </div>
                
                

            </div>
        </div>
        
        <div class="col-4">
            <div class="col-12 text-right">
                <div class="websiteLogo" href="#" data-toggle="modal" data-target="#myModal">
                    <%= userName %>
                    <img id="avatar-small" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= userID %>/<%= userName %>">
                    <!-- <a href="#" data-toggle="modal" data-target="#myModal">Open Modal</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
                    <div class= "col">
                        
                    </div>

            </div>

    <!-- </nav> -->
<!-- </header> -->

<%- include('messages'); %>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <a href="/users/dashboard">
                            <h5><%= userName %></h5>
                        </a>
                        <div><%= companyName %></div>
                    </div>
                    
                    <div class="modal-footer text-center">
                        <a href="/users/dashboard/logout" class="btn btn-secondary">Logout</a>

                        <input class="btn btn-default" data-dismiss="modal" value="Close">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
