
<div class="container">
    <div class="row">
            <div class="col">
            
            </div>

            <div class="col-5">

            <fieldset>
                       

            
                        <div class="form-group">
                            <label for="name">Company Chinese Name</label>
                            <input
                            name="name"
                            id="dirname"
                            class="form-control"
                            placeholder="公司中文名称"
                            value="<%= company.name %>"
                            />
                        </div>

                        <div class="form-group">
                            <label for="name_eng">Company English Name</label>
                            <input
                            name="name_eng"
                            class="form-control"
                            placeholder="公司英文名称"
                            value="<%= company.name_eng %>"
                            />
                        </div>

                        <div class="hide">
                            <input name="companyID" id='user_defined_name' value="<%= companyID %>">
                        </div>

                        <div class="form-group">
                            <label for="name">Location</label>
                            <select name="location" class="custom-select" placeholder="公司所在的城市">
                                <option selected label="北京（Beijing）" value="Beijing">
                                <option label="上海（Shanghai）" value="Shanghai">
                                <option label="深圳（Shenzhen）" value="Shenzhen">
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input
                            type="description"
                            id="description"
                            name="description"
                            class="form-control"
                            placeholder="用一句话描述您公司 Describe your company in one sentence."
                            value="<%= company.description %>"
                            />
                        </div>
                    
                            
                    <div class="form-group">
                        <div class="hide">
                        <div class="custom-control custom-radio">
                        <input type="radio"  id="customRadio1" name="myradio" value="local_name" class="custom-control-input" disabled=""/> 
                        <label class="custom-control-label" for="customRadio1"></label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="myradio" class="custom-control-input" value="random_name" disabled="" /> 
                            <label class="custom-control-label" for="customRadio2"></label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="myradio" value="user_defined" class="custom-control-input" checked=true/> 
                            <label class="custom-control-label" for="customRadio3"></label>
                        </div>
                        </div>
                    </div>
                            
                
                    <input type="text" name="userID" class="hide" placeholder="<%= userID %>" value="<%= userID %>">

                    <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
                
                    
                    <div class="form-group" >
                        <div class="input-group mb-3">
                            <div id="container">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="selectfiles" >
                                    <lable href="javascript:void(0);" class="custom-file-label" for="selectedfiles">choose</lable>
                                </div>
                            </div>
                                <div class="input-group-append">
                                    <span id="postfiles" href="javascript:void(0);" class="input-group-text">upload</span>
                                </div>
                        </div>
                    </div>
                
                
                    <pre id="console"></pre>
                
                    <p>&nbsp;</p>
                    
                </fieldset>


        </div>
        <div class="col"> 
        </div>
    </div> 
</div>




