<div>
    <%- include('../partials/header_private.ejs') %>
</div>

<div class="text-center">
    <%- include('../partials/messages'); %>


<div class="container">
    <div class="row">
        <div class="col">
            <h6 id="userID" value="<%= userID %>"></h6>
            <div class="dashboard-profile-edit-list">
                <% if (g_userProfPic_URL != null) { %>
                        <a href="/users/<%= userID %>/editUser" >
                            <div class="dashboard-profile-edit">
                                    <div class="dashboard-profile-edit_image">    
                                        <img src="<%= g_userProfPic_URL %>">
                                    </div>
                                    <div class="dashboard-profile-edit_title">
                                        <p><i class="fas fa-user-edit"></i>
                                        </p> 
                                    </div>
                            </div>
                        </a>

                <% } else if (g_userProfPic_URL == null || g_userProfPic_URL == "") { %>
                        <div class="dashboard-profile-edit">
                            <!-- <a a href="/users/<%= userID %>/editUser" > -->
                                <img id="avatar" href="/users/<%= userID %>/editUser" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/default-icons/Screen%20Shot%202020-02-11%20at%2010.55.05%20PM.png">
                                <div class="dashboard-profile-edit_title">
                                    <p><i class="fas fa-user-edit"></i>
                                    </p> 
                                </div>
                            <!-- </a> -->
                        </div>
                <% } %>
            </div>
            <h5><%= user.name %></h5>

        </div>
      
        <div class="col-9">
            
            <!-- <h5><%= companyName %></h5>
            <% if (user.company != null) {%>
                <div><img id="companyLogo" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/companies/<%= companyID %>"></div>
                <%- include('../companies/show.ejs') %>
                <a href="/users/companies/index/<%= companyID %>/edit" class="btn btn-secondary">Update Company Data</a>
                <%- include('../partials/deleteform', { url: `/users/companies/index/${companyID}` }) %>
            <% } else { %>
                <p>Your company is not registered yet. </p>
                <p>Please create your company data here.</p>
                <a href="/users/<%= userID %>/companies/new" class="btn btn-secondary">Register Your Company</a>
            <% } %> -->
           
        </div>
            
        <div class="col-12 text-center">
            <img class="gallery-view-icon" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/icons/gallery%20view">
            <img class="list-view-icon" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/icons/list%20view">

            <a href="/users/materials/new">
                <span class="icon-style-new"">
                    <i class="fas fa-plus-circle"></i>
                </span>
            </a> 
        </div>
    </div>
</div>


<h6>我上传的资料</h6>
<h6>Materials I posted</h6>
<% if (materialsByUser.length > 0) { %>
    <% materialsByUser.forEach(material => { %>
        <a href="/users/materials/index/<%= material.id %>">
            <img width="200" id="pictureCard" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= material.project %>/<%= material.ossFileName %>">
        </a>
        <% }) %>
    <% } %>
</div>