<div>
    <label>Title<label>
    <input type="text" name="title" value="<%= material.title %>">
</div>

<div>
<label>Supplier</label>
<select name="supplier">
    <% suppliers.forEach(supplier => { %>
        <% if (supplier.id === material.supplier) { %>
            <option selected label="<%= supplier.name %>" value="<%= supplier.id %>">
        <% } else { %>
            <option label="<%= supplier.name %>" value="<%= supplier.id %>">
        <% } %>
    <% }) %>
</select>
</div>

<div>
    <label>Publish Date</label>
    <input type="date" name="publishDate" 
            value="<%= material.publishDate == null ? '' :
            material.publishDate.toISOString().split('T')[0] %>">
</div>

<div>
    <lable>Cost</lable>
    <input type="number" name="cost" min="1" value="<%= material.cost %>">
</div>

<div>
    <label>Description</label>
    <textarea name="description" > <% material.description %> </textarea>
</div>

<br/>

<div>
</div>    

	<input type="radio" name="myradio" value="local_name" checked=true/> keep the local file name
    <input type="radio" name="myradio" value="random_name" /> give the file a random name
    <input type="radio" name="myradio" value="user_defined" /> give the file a name you like

	<br/>
	<div>Project Name:<input type="text" id='dirname' placeholder="Project Name" size=50 name="projectName" value="<%= material.projectName %>"></div>
	<div>Image Name:<input type="text" id='user_defined_name' placeholder="what name" size=50 name="ossFileName" value="<%= material.ossFileName %>"></div>

<h6>Files you selected: </h6>
	<div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>

	<br/>

	<div id="container">
		<a id="selectfiles" href="javascript:void(0);" class='btn'>choose</a>
		<a id="postfiles" href="javascript:void(0);" class='btn'>upload</a>
	</div>

	<pre id="console"></pre>


	<p>&nbsp;</p>

