<div>
<%- include('../partials/header_private.ejs') %>
</div>

<div class="container">
<div class="row">
    <div class="col-0">
    </div>
    <div class="col-12 text-left">                     
        <form action="/users/materials/index" method="GET">
            <div>                
                <div class="form-group" >
                    <div class="input-group mb-6">
                            <input class="form-control" type="text" name="searchKeywords" placeholder="<%= g_companyName%>'s Shared Material Library " value="<%= searchOptions.searchKeywords %>" >
                            <div class="input-group-append">
                                <button type="submit" id="postfiles" href="javascript:void(0);" class="input-group-text">                    
                                    <i class="fas fa-search" id="search-icon"></i>
                                </button>
                            </div>
                    </div>
                </div>

                <!--                 
                <label>from</label>
                <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>" >
                <label>to</label>
                <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>" >
                <button type="submit">Search</button> -->
            </div>
        </form>
    </div>

    <div class="col-12 text-right">

        <img class="gallery-view-icon" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/icons/gallery%20view">
        <img class="list-view-icon" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/icons/list%20view">

        <a href="/users/materials/new">
            <span class="icon-style-new"">
                <i class="fas fa-cloud-upload-alt"></i>
            </span>
        </a> 

    </div>

</div>
</div>


<div class="row">
<div class="col">
                
</div>
    
<div class="col-8">
    <div class="custom-cards-list">

            <% materials.forEach(material => { %>

                <!-- <div class="card 3">     -->

                    <!-- <p3 class="pictureCard-title" value="<%= material.title %>"><%= material.title %> -->
                    <a href="/users/materials/index/<%= material.id %>" class="custom-card 3">
                        <div class="custom-card_image">    
                            <img src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= material.projectName %>/<%= material.ossFileName %>">
                        </div>
                    <div class="custom-card_title">
                            
                        <div class="custom-card_avatar">
                            <img id="avatar-on-card" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= material.userID %>/<%= material.userName %>">
                            <p class="custom-card_n"><%= material.userName %></p>
                        </div>
                        <div class="custom-card_index">
                            <h5 class="custom-card_title_h"><%= material.title %></h5> 
                            <h6 class="custom-card_title_t"><%= material.tags_input %></h6> 
                        </div>

                    </div>
                    <!-- <div > -->
                    <!-- </div> -->
                    </a>
            <% }) %>
    </div>
</div>


<div class="col">              
</div>

</div>



