<div>
<%- include('../partials/header_private.ejs') %>
</div>

<h2>Search Material</h2>
<form action="/materials" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>" >
    </div>

    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>" >
    </div>

    <div>
        <label>Published Before</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>" >
    </div>
        <button type="submit">Search</button>
</form>
<div>
    <% materials.forEach(material => { %>
        <a href="/materials/<%= material.id %>">
        <img height="150" width="150" src="<%= material.thumbnailImagePath %>">
        </a>
    <% }) %>
</div>

