<div>
    <%- include('../partials/header_private.ejs') %>
</div>
    
<h2><%= material.title %></h2>
<img width="150" height="150" src="<%= material.thumbnailImagePath %>">
<div>Image title: <%= material.title %> </div>
<div>Supplier: <%= material.supplier.name %> </div>
<div>Publish Date: <%= material.publishDate.toDateString() %> </div>
<div>Cost: <%= material.cost %> </div>
<div>Description: <%= material.description %> </div>
<div>File Name:  </div>
<div>File Type: </div>
<div>File URL:  </div>
<div>Material ID: <%= material.id %></div>


<a href="/materials/<%= material.id %>/edit">Edit</a>
<%- include('../partials/deleteform', { url: `/materials/${material.id}` }) %>
<a href="/suppliers/<%= material.supplier.id %>">View Supplier</a>